Mariana MacDonald - Assignment 1 - Week 2

Display the text “Hello World! I wonder why that is always the default coding text to start with”

In [4]:
hello = ("Hello World! I wonder why that is always the default coding text to start with.")
print(hello)

Hello World! I wonder why that is always the default coding text to start with.

Add two numbers together

In [6]:
2+2

4

Subtract a number from another number

In [8]:
10-5

5

Multiply two numbers

In [10]:
2*2

4

Divide between two numbers

In [12]:
10/5

2.0

Concatenate two strings together (any words)

In [13]:
"You are" + " learning Python"

'You are learning Python'

Create a list of 4 items (can be strings, numbers, both)

In [14]:
animallist=["cats", "dogs", "rabbits", "squirrels"]
print(animallist)

['cats', 'dogs', 'rabbits', 'squirrels']

Append an item to your list (again, can be a string, number)

In [15]:
animallist.append("rats")
animallist

['cats', 'dogs', 'rabbits', 'squirrels', 'rats']

Create a tuple with 4 items (can be strings, numbers, both)

In [16]:
animaltuple=("elephant", "giraffe", "snake", "fish")
print(animaltuple)

('elephant', 'giraffe', 'snake', 'fish')